/* For Emby v4.4

/* Add colored border when hover poster */
.cardOverlayContainer:hover
 {
    border: 1px solid var(--theme-primary-color) !important;
    border-radius: 2% !important;
}

/* Hide play button and checkbox from poster */
.cardOverlayContainer.itemAction label,
.cardOverlayContainer.itemAction button {
	display: none !important;
}

/* Remove scenes in Media Detail Page */
.scenesSection {
	display: none !important;
}
